In [101]:
import pandas as pd
import numpy as np
import warnings

datos2015=pd.read_excel('./datosUnificados/datos2015.xlsx')
datos2015.drop('% DE ALUMNOS EVALUADOS EN LA ESCUELA EN EL 2015', axis=1, inplace=True)
datos2015.drop('ALUMNOS EVALUADOS MENOR AL 80%', axis=1, inplace=True)
datos2015.drop('ALUMNOS QUE CONTESTARON 50% O MÁS PREGUNTAS DE LENGUAJE Y COMUNICACIÓN',axis=1,inplace=True)
datos2015.drop('ALUMNOS QUE CONTESTARON 50% O MÁS PREGUNTAS DE MATEMÁTICAS',axis=1,inplace=True)
datos2015.drop('% DE ALUMNOS DE LA MISMA ENTIDAD, SUBSISTEMA Y GRADO DE MARGINACIÓN EN CADA NIVEL DE DESEMPEÑO EN LENGUAJE Y COMUNICACIÓN 2015',axis=1,inplace=True)
datos2015.drop('Unnamed: 22',axis=1,inplace=True)
datos2015.drop('Unnamed: 23',axis=1,inplace=True)
datos2015.drop('Unnamed: 24',axis=1,inplace=True)
datos2015.drop('% DE ALUMNOS DEL PAÍS DEL MISMO SUBSISTEMA Y GRADO DE MARGINACIÓN EN CADA NIVEL DE DESEMPEÑO EN LENGUAJE Y COMUNICACIÓN 2015',axis=1, inplace=True)
datos2015.drop('Unnamed: 26',axis=1,inplace=True)
datos2015.drop('Unnamed: 27',axis=1,inplace=True)
datos2015.drop('Unnamed: 28',axis=1,inplace=True)
datos2015.drop('% DE ALUMNOS DE LA MISMA ENTIDAD, SUBSISTEMA Y GRADO DE MARGINACIÓN EN CADA NIVEL DE DESEMPEÑO EN MATEMÁTICAS 2015',axis=1,inplace=True)
datos2015.drop('Unnamed: 34',axis=1,inplace=True)
datos2015.drop('Unnamed: 35',axis=1,inplace=True)
datos2015.drop('Unnamed: 36',axis=1,inplace=True)
datos2015.drop('% DE ALUMNOS DEL PAÍS DEL MISMO SUBSISTEMA Y GRADO DE MARGINACIÓN EN CADA NIVEL DE DESEMPEÑO EN MATEMÁTICAS 2015',axis=1,inplace=True)
datos2015.drop('Unnamed: 38',axis=1,inplace=True)
datos2015.drop('Unnamed: 39',axis=1,inplace=True)
datos2015.drop('Unnamed: 40',axis=1,inplace=True)

datos2015.to_excel('./datosModificados/datos2015.xlsx', index=False)

In [102]:
#Renombrando las columnas de acuerdo a la información que contienen
datos2015 = datos2015.rename(columns={'% DE ALUMNOS DE LA ESCUELA EN CADA NIVEL DE DESEMPEÑO EN LENGUAJE Y COMUNICACIÓN 2015': '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I'})
datos2015 = datos2015.rename(columns={'Unnamed: 18': '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL II'})
datos2015 = datos2015.rename(columns={'Unnamed: 19': '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL III'})
datos2015 = datos2015.rename(columns={'Unnamed: 20': '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL IV'})

datos2015 = datos2015.rename(columns={'% DE ALUMNOS DE LA ESCUELA EN CADA NIVEL DE DESEMPEÑO EN MATEMÁTICAS 2015': '% ALUMNOS EN MATEMÁTICAS NIVEL I'})
datos2015 = datos2015.rename(columns={'Unnamed: 30': '% ALUMNOS EN MATEMÁTICAS NIVEL II'})
datos2015 = datos2015.rename(columns={'Unnamed: 31': '% ALUMNOS EN MATEMÁTICAS NIVEL III'})
datos2015 = datos2015.rename(columns={'Unnamed: 32': '% ALUMNOS EN MATEMÁTICAS NIVEL IV'})

datos2015 = datos2015.rename(columns={'ALUMNOS PROGRAMADOS PARA SER EVALUADOS': 'ALUMNOS PROGRAMADOS'})

datos2015.to_excel('./datosModificados/datos2015.xlsx', index=False)

In [103]:
#Pasar a float las columnas de los niveles o porcentajes
columnas = [
    "% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I",
    "% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL II",
    "% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL III",
    "% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL IV",
    "% ALUMNOS EN MATEMÁTICAS NIVEL I",
    "% ALUMNOS EN MATEMÁTICAS NIVEL II",
    "% ALUMNOS EN MATEMÁTICAS NIVEL III",
    "% ALUMNOS EN MATEMÁTICAS NIVEL IV"
]
for col in columnas:
    datos2015[col] = pd.to_numeric(datos2015[col], errors='coerce') 
datos2015.to_excel('./datosModificados/datos2015.xlsx', index=False)

In [104]:
#Acomodar con el metodo reindex
datos2015 = datos2015.reindex([
    'CLAVE DE LA ENTIDAD', 'ENTIDAD', 'CLAVE DE LA ESCUELA', 'NOMBRE DE LA ESCUELA', 
    'TURNO', 'EXTENSIÓN', 'NOMBRE DEL MUNICIPIO', 'NOMBRE DE LA LOCALIDAD', 
    'SUBSISTEMA', 'GRADO DE MARGINACIÓN DE LA LOCALIDAD DONDE SE UBICA EL CCT', 
    'SOSTENIMIENTO', 'ALUMNOS PROGRAMADOS','ALUMNOS EVALUADOS', 
    '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I', '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL II', 
    '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL III', '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL IV', 
    '% ALUMNOS EN MATEMÁTICAS NIVEL I', '% ALUMNOS EN MATEMÁTICAS NIVEL II', 
    '% ALUMNOS EN MATEMÁTICAS NIVEL III', '% ALUMNOS EN MATEMÁTICAS NIVEL IV'
], axis=1)
datos2015.to_excel('./datosModificados/datos2015.xlsx', index=False)

In [105]:
# Eliminar filas con almenos 7 valores nulos
datos2015 = datos2015.dropna(thresh=len(datos2015.columns)-7)
datos2015.to_excel('./datosModificados/datos2015.xlsx', index=False)

In [106]:
#Reemplazar los valores nulos de la columna 'EXTENSIÓN' por 'EXTENSIÓN 0'
datos2015['EXTENSIÓN'].fillna('EXTENSIÓN 0', inplace=True)

# Imprimir los valores de la columna 'EXTENSIÓN' para verificar los valores únicos
unique_values = datos2015['EXTENSIÓN'].unique()
print(unique_values)

['EXTENSIÓN 0' 'EXTENSIÓN 1' 'EXTENSIÓN 2' 'EXTENSIÓN 3' 'EXTENSIÓN 4'
 'EXTENSIÓN 6' 'EXTENSIÓN 9' 'EXTENSIÓN 10' 'EXTENSIÓN 11' 'EXTENSIÓN 14'
 'EXTENSIÓN 17' 'EXTENSIÓN 22' 'EXTENSIÓN 26' 'EXTENSIÓN 19'
 'EXTENSIÓN 21' 'EXTENSIÓN 25' 'TECARIO' 'EXTENSIÓN 48' 'EXTENSIÓN 5'
 'EXTENSIÓN 7' 'EXTENSIÓN 8']

C:\Users\hiper\AppData\Local\Temp\ipykernel_19872\3901397232.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  datos2015['EXTENSIÓN'].fillna('EXTENSIÓN 0', inplace=True)

In [107]:
# Agregar nombre de la localidad copiando el nombre del municipio en caso de no tener un valor nulo
datos2015['NOMBRE DE LA LOCALIDAD'] = datos2015['NOMBRE DE LA LOCALIDAD'].fillna(datos2015['NOMBRE DEL MUNICIPIO'])
datos2015.to_excel('./datosModificados/datos2015.xlsx', index=False)

In [108]:
# Eliminar '*****' y sustituir por 0.0 en todas las columnas
datos2015 = datos2015.replace('*****', 0.0)
datos2015.to_excel('./datosModificados/datos2015.xlsx', index=False)

In [109]:
#Rellenar los valores nulos y los NaN con 0.0
datos2015 = datos2015.fillna(0.0)
datos2015.to_excel('./datosModificados/datos2015.xlsx', index=False)

In [110]:
# Crear las columnas para obtener la cantidad de estudiantes en cada nivel de desempeño en matematicas y lenguaje y comunicacion
datos2015['CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I'] = ((datos2015['% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I'] * datos2015['ALUMNOS EVALUADOS']) / 100).astype(int)
datos2015['CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL II'] = ((datos2015['% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL II'] * datos2015['ALUMNOS EVALUADOS']) / 100).astype(int)
datos2015['CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL III'] = ((datos2015['% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL III'] * datos2015['ALUMNOS EVALUADOS']) / 100).astype(int)
datos2015['CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL IV'] = ((datos2015['% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL IV'] * datos2015['ALUMNOS EVALUADOS']) / 100).astype(int)

datos2015['CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL I'] = ((datos2015['% ALUMNOS EN MATEMÁTICAS NIVEL I'] * datos2015['ALUMNOS EVALUADOS']) / 100).astype(int)
datos2015['CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL II'] = ((datos2015['% ALUMNOS EN MATEMÁTICAS NIVEL II'] * datos2015['ALUMNOS EVALUADOS']) / 100).astype(int)
datos2015['CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL III'] = ((datos2015['% ALUMNOS EN MATEMÁTICAS NIVEL III'] * datos2015['ALUMNOS EVALUADOS']) / 100).astype(int)
datos2015['CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL IV'] = ((datos2015['% ALUMNOS EN MATEMÁTICAS NIVEL IV'] * datos2015['ALUMNOS EVALUADOS']) / 100).astype(int)

datos2015.to_excel('./datosModificados/datos2015.xlsx', index=False)

In [111]:
# Imprimir el nombre de las columnas que tienen valores nulos
print("Columnas con valores nulos:")
for col in datos2015.columns:
    if datos2015[col].isnull().any():
        print(col)

# Imprimir el nombre de las columnas con NaN
print("\nColumnas con NaN:")
for col in datos2015.columns:
    if datos2015[col].isnull().any():
        print(col)

# Imprimir el numero de la fila donde hay valores nulos
print("\nFilas con valores nulos:")
for index, row in datos2015.iterrows():
    if row.isnull().any():
        print(f"Fila {index}: {row[row.isnull()].index.tolist()}")

# Imprimir el numero de la fila donde hay NaN
print("\nFilas con NaN:")
for index, row in datos2015.iterrows():
    if row.isnull().any():
        print(f"Fila {index}: {row[row.isnull()].index.tolist()}")

Columnas con valores nulos:

Columnas con NaN:

Filas con valores nulos:

Filas con NaN:

In [112]:
# Verificando los tipos de datos
print("Tipos de datos en el DataFrame:\n", datos2015.dtypes)

Tipos de datos en el DataFrame:
 CLAVE DE LA ENTIDAD                                           float64
ENTIDAD                                                        object
CLAVE DE LA ESCUELA                                            object
NOMBRE DE LA ESCUELA                                           object
TURNO                                                          object
EXTENSIÓN                                                      object
NOMBRE DEL MUNICIPIO                                           object
NOMBRE DE LA LOCALIDAD                                         object
SUBSISTEMA                                                     object
GRADO DE MARGINACIÓN DE LA LOCALIDAD DONDE SE UBICA EL CCT     object
SOSTENIMIENTO                                                  object
ALUMNOS PROGRAMADOS                                             int64
ALUMNOS EVALUADOS                                               int64
% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I                  float64
% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL II                 float64
% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL III                float64
% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL IV                 float64
% ALUMNOS EN MATEMÁTICAS NIVEL I                              float64
% ALUMNOS EN MATEMÁTICAS NIVEL II                             float64
% ALUMNOS EN MATEMÁTICAS NIVEL III                            float64
% ALUMNOS EN MATEMÁTICAS NIVEL IV                             float64
CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I             int64
CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL II            int64
CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL III           int64
CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL IV            int64
CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL I                         int64
CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL II                        int64
CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL III                       int64
CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL IV                        int64
dtype: object

In [3]:
import pandas as pd
#Leer el archivo Excel modificado
datos2015 = pd.read_excel('./datosModificados/datos2015.xlsx')
# Añadir la columna 'AÑO' con el valor 2015
datos2015['AÑO'] = 2015
# Guardar el DataFrame modificado en un nuevo archivo Excel
datos2015.to_excel('./datosModificados/datos2015.xlsx', index=False)