In [95]:
import pandas as pd
import numpy as np
import warnings

datos2017=pd.read_excel('./datosUnificados/datos2017.xlsx')
datos2017.drop('TOTAL DE ALUMNOS EN EL ÚLTIMO GRADO (MATRÍCULA)', axis=1, inplace=True)
datos2017.drop('PORCENTAJE (%) DE ALUMNOS EVALUADOS',axis=1,inplace=True)
datos2017.drop('Unnamed: 16',axis=1,inplace=True)
datos2017.drop('LOS ALUMNOS EVALUADOS SON REPRESENTATIVOS DE LA TOTALIDAD DE LOS ESTUDIANTES DE LA ESCUELA?',axis=1,inplace=True)
datos2017.drop('Unnamed: 18',axis=1,inplace=True)
datos2017.drop('ESCUELAS PARECIDAS PARA COMPARACIÓN',axis=1,inplace=True)
datos2017.drop('Unnamed: 28',axis=1,inplace=True)
datos2017.drop('Unnamed: 29',axis=1,inplace=True)
datos2017.drop('Unnamed: 30',axis=1,inplace=True)
datos2017.drop('Unnamed: 31',axis=1,inplace=True)
datos2017.drop('Unnamed: 32',axis=1,inplace=True)
datos2017.drop('Unnamed: 33',axis=1,inplace=True)
datos2017.drop('Unnamed: 34',axis=1,inplace=True)
datos2017.drop('Unnamed: 35',axis=1,inplace=True)
datos2017.drop('Unnamed: 44',axis=1,inplace=True)
datos2017.drop('Unnamed: 45',axis=1,inplace=True)
datos2017.drop('Unnamed: 46',axis=1,inplace=True)
datos2017.drop('Unnamed: 47',axis=1,inplace=True)
datos2017.drop('Unnamed: 48',axis=1,inplace=True)
datos2017.drop('Unnamed: 49',axis=1,inplace=True)
datos2017.drop('Unnamed: 50',axis=1,inplace=True)
datos2017.drop('Unnamed: 51',axis=1,inplace=True)

datos2017.to_excel('./datosModificados/datos2017.xlsx', index=False)

In [96]:
# Renombrando las columnas

datos2017 = datos2017.rename(columns={'NIVELES DE LOGRO EN LENGUAJE Y COMUNICACIÓN': 'CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I'})
datos2017 = datos2017.rename(columns={'Unnamed: 21': 'CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL II'})
datos2017 = datos2017.rename(columns={'Unnamed: 22': 'CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL III'})
datos2017 = datos2017.rename(columns={'Unnamed: 23': 'CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL IV'})

datos2017 = datos2017.rename(columns={'Unnamed: 24': '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I'})
datos2017 = datos2017.rename(columns={'Unnamed: 25': '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL II'})
datos2017 = datos2017.rename(columns={'Unnamed: 26': '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL III'})
datos2017 = datos2017.rename(columns={'Unnamed: 27': '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL IV'})

datos2017 = datos2017.rename(columns={'NIVELES DE LOGRO EN MATEMÁTICAS': 'CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL I'})
datos2017 = datos2017.rename(columns={'Unnamed: 37': 'CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL II'})
datos2017 = datos2017.rename(columns={'Unnamed: 38': 'CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL III'})
datos2017 = datos2017.rename(columns={'Unnamed: 39': 'CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL IV'})

datos2017 = datos2017.rename(columns={'Unnamed: 40': '% ALUMNOS EN MATEMÁTICAS NIVEL I'})
datos2017 = datos2017.rename(columns={'Unnamed: 41': '% ALUMNOS EN MATEMÁTICAS NIVEL II'})
datos2017 = datos2017.rename(columns={'Unnamed: 42': '% ALUMNOS EN MATEMÁTICAS NIVEL III'})
datos2017 = datos2017.rename(columns={'Unnamed: 43': '% ALUMNOS EN MATEMÁTICAS NIVEL IV'})

datos2017 = datos2017.rename(columns={'ALUMNOS EVALUADOS':'ALUMNOS EVALUADOS LENGUAJE Y COMUNICACIÓN'})
datos2017 = datos2017.rename(columns={'Unnamed: 14':'ALUMNOS EVALUADOS MATEMÁTICAS'})
datos2017 = datos2017.rename(columns={'ALUMNOS  PROGRAMADOS':'ALUMNOS PROGRAMADOS'})

datos2017 = datos2017.rename(columns={'GRADO DE MARGINACIÓN (CONAPO) DE LA LOCALIDAD DONDE SE UBICA EL CT':'GRADO DE MARGINACIÓN DE LA LOCALIDAD DONDE SE UBICA EL CCT'})

datos2017.to_excel('./datosModificados/datos2017.xlsx', index=False)

In [97]:
#Agregar la columna alumnos evaluados cuyo valor será igual al valor mayor de las columnas alumnos evaluados de matematicas o lenguaje y com
datos2017['ALUMNOS EVALUADOS'] = datos2017[['ALUMNOS EVALUADOS LENGUAJE Y COMUNICACIÓN','ALUMNOS EVALUADOS MATEMÁTICAS']].max(axis=1)
#datos2017['ALUMNOS EVALUADOS'] = np.where(datos2017['ALUMNOS EVALUADOS'] > datos2017['Unnamed: 14'], datos2017['ALUMNOS EVALUADOS'], datos2017['Unnamed: 14'])

#Eliminar las columnas de lyc y mate una vez hecha la columna de alumnos evaluados
# datos2017.drop('ALUMNOS EVALUADOS LENGUAJE Y COMUNICACIÓN',axis=1,inplace=True)
# datos2017.drop('ALUMNOS EVALUADOS MATEMÁTICAS',axis=1,inplace=True)

datos2017.to_excel('./datosModificados/datos2017.xlsx', index=False)

In [98]:
#Acomodar con el metodo reindex
datos2017 = datos2017.reindex([
    'CLAVE DE LA ENTIDAD', 'ENTIDAD', 'CLAVE DE LA ESCUELA', 'NOMBRE DE LA ESCUELA', 
    'TURNO', 'EXTENSIÓN', 'NOMBRE DEL MUNICIPIO', 'NOMBRE DE LA LOCALIDAD', 
    'SUBSISTEMA', 'GRADO DE MARGINACIÓN DE LA LOCALIDAD DONDE SE UBICA EL CCT', 
    'SOSTENIMIENTO', 'ALUMNOS PROGRAMADOS','ALUMNOS EVALUADOS','ALUMNOS EVALUADOS LENGUAJE Y COMUNICACIÓN',
    'ALUMNOS EVALUADOS MATEMÁTICAS','CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I',
    'CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL II','CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL III',
    'CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL IV',
    '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I', '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL II', 
    '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL III', '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL IV',
    'CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL I','CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL II',
    'CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL III',
    'CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL IV',
    '% ALUMNOS EN MATEMÁTICAS NIVEL I', '% ALUMNOS EN MATEMÁTICAS NIVEL II', 
    '% ALUMNOS EN MATEMÁTICAS NIVEL III', '% ALUMNOS EN MATEMÁTICAS NIVEL IV',
], axis=1)
datos2017.to_excel('./datosModificados/datos2017.xlsx', index=False)

In [99]:
#Pasar a float las columnas de los niveles o porcentajes
#dejar nalgo, coerce nada
columnas = [
    "% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I",
    "% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL II",
    "% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL III",
    "% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL IV",
    "% ALUMNOS EN MATEMÁTICAS NIVEL I",
    "% ALUMNOS EN MATEMÁTICAS NIVEL II",
    "% ALUMNOS EN MATEMÁTICAS NIVEL III",
    "% ALUMNOS EN MATEMÁTICAS NIVEL IV"
]
for col in columnas:
    datos2017[col] = pd.to_numeric(datos2017[col], errors='coerce') 
datos2017.to_excel('./datosModificados/datos2017.xlsx', index=False)

In [100]:
#Pasar de float a INT
columnas = [
    "CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I",
    "CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL II",
    "CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL III",
    "CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL IV",
    "CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL I",
    "CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL II",
    "CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL III",
    "CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL IV",
    "ALUMNOS EVALUADOS",
    "ALUMNOS PROGRAMADOS",
    "ALUMNOS EVALUADOS LENGUAJE Y COMUNICACIÓN",
    "ALUMNOS EVALUADOS MATEMÁTICAS",
]
for col in columnas:
    datos2017[col] = pd.to_numeric(datos2017[col], errors='coerce') 
    datos2017[col] = datos2017[col].fillna(0).astype(int)
datos2017.to_excel('./datosModificados/datos2017.xlsx', index=False)

In [101]:
#Reemplazar los valores nulos de la columna 'EXTENSIÓN' por 'EXTENSIÓN 0'
datos2017['EXTENSIÓN'].fillna('EXTENSIÓN 0', inplace=True)
datos2017.to_excel('./datosModificados/datos2017.xlsx', index=False)

# Imprimir los valores de la columna 'EXTENSIÓN' para verificar los valores únicos
unique_values = datos2017['EXTENSIÓN'].unique()
print(unique_values)

C:\Users\hiper\AppData\Local\Temp\ipykernel_20864\4239527933.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  datos2017['EXTENSIÓN'].fillna('EXTENSIÓN 0', inplace=True)

['EXTENSIÓN 0' 'EXTENSION 1' 'EXTENSION 2' 'EXTENSION 3' 'EXTENSION 4'
 'EXTENSION 5' 'EXTENSION 6A' 'EXTENSION 11' 'EXTENSION 14' 'EXTENSION 17'
 'EXTENSION 22' 'EXTENSION 26' 'EXTENSION 19' 'EXTENSION 21'
 'EXTENSION 25' 'EXTENSION' 'EXTENSION 24' 'EXTENSION 10' 'EXTENSION 6'
 'EXTENSION 8' 'EXTENSION 7']

In [102]:
# Obtener las claves de las escuela que tienen nombre de escuela nulo
datos2017['CLAVE DE LA ESCUELA'] = datos2017['CLAVE DE LA ESCUELA'].astype(str)
nulos = datos2017[datos2017['NOMBRE DE LA ESCUELA'].isnull()]['CLAVE DE LA ESCUELA'].unique()
print(nulos)

datos2017.loc[datos2017['CLAVE DE LA ESCUELA'] == '31DTA0014F', 'NOMBRE DE LA ESCUELA'] = 'CENTRO DE BACHILLERATO TECNOLÓGICO Y BACHILLERATO AGROPECUARIO NUM. 14'	

# Obtener las claves de las escuela que tienen nombre de escuela nulo
datos2017['CLAVE DE LA ESCUELA'] = datos2017['CLAVE DE LA ESCUELA'].astype(str)
nulos = datos2017[datos2017['NOMBRE DE LA ESCUELA'].isnull()]['CLAVE DE LA ESCUELA'].unique()
print(nulos)

['nan' '31DTA0014F']
['nan']

In [103]:
# Eliminar filas con no tienen almenos 15 valores no nulos
datos2017 = datos2017.dropna(thresh=15)
datos2017.to_excel('./datosModificados/datos2017.xlsx', index=False)

In [104]:
# Llenar con 0.0 los nulos en '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I' si la cantidad de alimnos es 0
datos2017.loc[datos2017['ALUMNOS EVALUADOS LENGUAJE Y COMUNICACIÓN'] == 0, '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I'] = 0.0
datos2017.loc[datos2017['ALUMNOS EVALUADOS LENGUAJE Y COMUNICACIÓN'] == 0, '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL II'] = 0.0
datos2017.loc[datos2017['ALUMNOS EVALUADOS LENGUAJE Y COMUNICACIÓN'] == 0, '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL III'] = 0.0
datos2017.loc[datos2017['ALUMNOS EVALUADOS LENGUAJE Y COMUNICACIÓN'] == 0, '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL IV'] = 0.0
# Llenar con 0.0 los nulos en '% ALUMNOS EN MATEMÁTICAS NIVEL I' si la cantidad de alimnos es 0
datos2017.loc[datos2017['ALUMNOS EVALUADOS MATEMÁTICAS'] == 0, '% ALUMNOS EN MATEMÁTICAS NIVEL I'] = 0.0
datos2017.loc[datos2017['ALUMNOS EVALUADOS MATEMÁTICAS'] == 0, '% ALUMNOS EN MATEMÁTICAS NIVEL II'] = 0.0
datos2017.loc[datos2017['ALUMNOS EVALUADOS MATEMÁTICAS'] == 0, '% ALUMNOS EN MATEMÁTICAS NIVEL III'] = 0.0
datos2017.loc[datos2017['ALUMNOS EVALUADOS MATEMÁTICAS'] == 0, '% ALUMNOS EN MATEMÁTICAS NIVEL IV'] = 0.0

In [105]:
# Imprimir el nombre de las columnas que tienen valores nulos
print("Columnas con valores nulos:")
for col in datos2017.columns:
    if datos2017[col].isnull().any():
        print(col)

# Imprimir el nombre de las columnas con NaN
print("\nColumnas con NaN:")
for col in datos2017.columns:
    if datos2017[col].isnull().any():
        print(col)

# Imprimir el numero de la fila donde hay valores nulos
print("\nFilas con valores nulos:")
for index, row in datos2017.iterrows():
    if row.isnull().any():
        print(f"Fila {index}: {row[row.isnull()].index.tolist()}")

# Imprimir el numero de la fila donde hay NaN
print("\nFilas con NaN:")
for index, row in datos2017.iterrows():
    if row.isnull().any():
        print(f"Fila {index}: {row[row.isnull()].index.tolist()}")

Columnas con valores nulos:

Columnas con NaN:

Filas con valores nulos:

Filas con NaN:

In [106]:
#Acomodar con el metodo reindex
datos2017 = datos2017.reindex([
    'CLAVE DE LA ENTIDAD', 'ENTIDAD', 'CLAVE DE LA ESCUELA', 'NOMBRE DE LA ESCUELA', 
    'TURNO', 'EXTENSIÓN', 'NOMBRE DEL MUNICIPIO', 'NOMBRE DE LA LOCALIDAD', 
    'SUBSISTEMA', 'GRADO DE MARGINACIÓN DE LA LOCALIDAD DONDE SE UBICA EL CCT', 
    'SOSTENIMIENTO', 'ALUMNOS PROGRAMADOS','ALUMNOS EVALUADOS',
    '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I', '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL II', 
    '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL III', '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL IV',
    '% ALUMNOS EN MATEMÁTICAS NIVEL I', '% ALUMNOS EN MATEMÁTICAS NIVEL II', 
    '% ALUMNOS EN MATEMÁTICAS NIVEL III', '% ALUMNOS EN MATEMÁTICAS NIVEL IV',
    'CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I',
    'CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL II','CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL III',
    'CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL IV',
    'CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL I','CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL II',
    'CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL III',
    'CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL IV'
], axis=1)
datos2017.to_excel('./datosModificados/datos2017.xlsx', index=False)

In [107]:
datos2017.dtypes

CLAVE DE LA ENTIDAD                                           float64
ENTIDAD                                                        object
CLAVE DE LA ESCUELA                                            object
NOMBRE DE LA ESCUELA                                           object
TURNO                                                          object
EXTENSIÓN                                                      object
NOMBRE DEL MUNICIPIO                                           object
NOMBRE DE LA LOCALIDAD                                         object
SUBSISTEMA                                                     object
GRADO DE MARGINACIÓN DE LA LOCALIDAD DONDE SE UBICA EL CCT     object
SOSTENIMIENTO                                                  object
ALUMNOS PROGRAMADOS                                             int64
ALUMNOS EVALUADOS                                               int64
% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I                  float64
% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL II                 float64
% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL III                float64
% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL IV                 float64
% ALUMNOS EN MATEMÁTICAS NIVEL I                              float64
% ALUMNOS EN MATEMÁTICAS NIVEL II                             float64
% ALUMNOS EN MATEMÁTICAS NIVEL III                            float64
% ALUMNOS EN MATEMÁTICAS NIVEL IV                             float64
CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I             int64
CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL II            int64
CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL III           int64
CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL IV            int64
CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL I                         int64
CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL II                        int64
CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL III                       int64
CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL IV                        int64
dtype: object

In [1]:
import pandas as pd
# Leer el archivo Excel modificado
datos2017 = pd.read_excel('./datosModificados/datos2017.xlsx')

# Añadir la columna 'AÑO' con el valor 2017
datos2017['AÑO'] = 2017

datos2017.to_excel('./datosModificados/datos2017.xlsx', index=False)