In [3]:
import pandas as pd
import numpy as np
import warnings
datos2016=pd.read_excel('./datosUnificados/datos2016.xlsx')

datos2016.drop('RESULTADO REPRESENTATIVO DE LA ESCUELA', axis=1, inplace=True)
datos2016.drop('Unnamed: 13', axis=1, inplace=True) 

datos2016.drop('% DE ALUMNOS DE LA MISMA ENTIDAD, SUBSISTEMA Y GRADO DE MARGINACIÓN EN CADA NIVEL DE LOGRO EN LENGUAJE Y COMUNICACIÓN 2016', axis=1, inplace=True)
datos2016.drop('Unnamed: 21', axis=1, inplace=True) 
datos2016.drop('Unnamed: 22', axis=1, inplace=True) 
datos2016.drop('Unnamed: 23', axis=1, inplace=True) 

datos2016.drop('% DE ALUMNOS DEL PAÍS DEL MISMO SUBSISTEMA Y GRADO DE MARGINACIÓN EN CADA NIVEL DE LOGRO EN LENGUAJE Y COMUNICACIÓN 2016', axis=1, inplace=True)
datos2016.drop('Unnamed: 25', axis=1, inplace=True) 
datos2016.drop('Unnamed: 26', axis=1, inplace=True) 
datos2016.drop('Unnamed: 27', axis=1, inplace=True) 

datos2016.drop('% DE ALUMNOS DE LA MISMA ENTIDAD, SUBSISTEMA Y GRADO DE MARGINACIÓN EN CADA NIVEL DE LOGRO EN MATEMÁTICAS 2016', axis=1, inplace=True)
datos2016.drop('Unnamed: 33', axis=1, inplace=True) 
datos2016.drop('Unnamed: 34', axis=1, inplace=True) 
datos2016.drop('Unnamed: 35', axis=1, inplace=True) 

datos2016.drop('% DE ALUMNOS DEL PAÍS DEL MISMO SUBSISTEMA Y GRADO DE MARGINACIÓN EN CADA NIVEL DE LOGRO EN MATEMÁTICAS 2016', axis=1, inplace=True)
datos2016.drop('Unnamed: 37', axis=1, inplace=True) 
datos2016.drop('Unnamed: 38', axis=1, inplace=True) 
datos2016.drop('Unnamed: 39', axis=1, inplace=True) 

datos2016.to_excel('./datosModificados/datos2016.xlsx', index=False)

In [4]:
#Renombrando las columnas

datos2016 = datos2016.rename(columns={'ALUMNOS QUE CONTESTARON TODAS LAS SESIONES DEL EXAMEN': 'ALUMNOS QUE CONTESTARON TODAS LAS SESIONES DEL EXAMEN LENGUAJE Y COMUNICACIÓN'})
datos2016 = datos2016.rename(columns={'Unnamed: 15': 'ALUMNOS QUE CONTESTARON TODAS LAS SESIONES DEL EXAMEN MATEMÁTICAS'})
datos2016 = datos2016.rename(columns={'% DE ALUMNOS DE LA ESCUELA EN CADA NIVEL DE LOGRO EN LENGUAJE Y COMUNICACIÓN 2016': '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I'})
datos2016 = datos2016.rename(columns={'Unnamed: 17': '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL II'})
datos2016 = datos2016.rename(columns={'Unnamed: 18': '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL III'})
datos2016 = datos2016.rename(columns={'Unnamed: 19': '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL IV'})
datos2016 = datos2016.rename(columns={'% DE ALUMNOS DE LA ESCUELA EN CADA NIVEL DE LOGRO EN MATEMÁTICAS 2016': '% ALUMNOS EN MATEMÁTICAS NIVEL I'})
datos2016 = datos2016.rename(columns={'Unnamed: 29': '% ALUMNOS EN MATEMÁTICAS NIVEL II'})
datos2016 = datos2016.rename(columns={'Unnamed: 30': '% ALUMNOS EN MATEMÁTICAS NIVEL III'})
datos2016 = datos2016.rename(columns={'Unnamed: 31': '% ALUMNOS EN MATEMÁTICAS NIVEL IV'})

datos2016 = datos2016.rename(columns={'ALUMNOS QUE CONTESTARON TODAS LAS SESIONES DEL EXAMEN LENGUAJE Y COMUNICACIÓN': 'ALUMNOS EVALUADOS LENGUAJE Y COMUNICACIÓN'})
datos2016 = datos2016.rename(columns={'ALUMNOS QUE CONTESTARON TODAS LAS SESIONES DEL EXAMEN MATEMÁTICAS': 'ALUMNOS EVALUADOS MATEMÁTICAS'})
datos2016 = datos2016.rename(columns={'ALUMNOS  PROGRAMADOS': 'ALUMNOS PROGRAMADOS'})

datos2016.to_excel('./datosModificados/datos2016.xlsx', index=False)

In [5]:
#Agregar la columna alumnos evaluados cuyo valor será igual al valor mayor de las columnas alumnos evaluados de matematicas o lenguaje y com
datos2016['ALUMNOS EVALUADOS'] = datos2016[['ALUMNOS EVALUADOS LENGUAJE Y COMUNICACIÓN','ALUMNOS EVALUADOS MATEMÁTICAS']].max(axis=1)
#datos2016['ALUMNOS EVALUADOS'] = np.where(datos2016['ALUMNOS EVALUADOS'] > datos2016['Unnamed: 14'], datos2016['ALUMNOS EVALUADOS'], datos2016['Unnamed: 14'])

#Eliminar las columnas de lyc y mate una vez hecha la columna de alumnos evaluados
# datos2016.drop('ALUMNOS EVALUADOS LENGUAJE Y COMUNICACIÓN',axis=1,inplace=True)
# datos2016.drop('ALUMNOS EVALUADOS MATEMÁTICAS',axis=1,inplace=True)

datos2016.to_excel('./datosModificados/datos2016.xlsx', index=False)

In [6]:
#Pasar a float las columnas de los niveles o porcentajes
columnas = [
    "% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I",
    "% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL II",
    "% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL III",
    "% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL IV",
    "% ALUMNOS EN MATEMÁTICAS NIVEL I",
    "% ALUMNOS EN MATEMÁTICAS NIVEL II",
    "% ALUMNOS EN MATEMÁTICAS NIVEL III",
    "% ALUMNOS EN MATEMÁTICAS NIVEL IV"
]
for col in columnas:
    datos2016[col] = pd.to_numeric(datos2016[col], errors='coerce')

datos2016.to_excel('./datosModificados/datos2016.xlsx', index=False)

In [7]:
#Acomodar con el metodo reindex
datos2016 = datos2016.reindex([
    'CLAVE DE LA ENTIDAD', 'ENTIDAD', 'CLAVE DE LA ESCUELA', 'NOMBRE DE LA ESCUELA', 
    'TURNO', 'EXTENSIÓN', 'NOMBRE DEL MUNICIPIO', 'NOMBRE DE LA LOCALIDAD', 
    'SUBSISTEMA', 'GRADO DE MARGINACIÓN DE LA LOCALIDAD DONDE SE UBICA EL CCT', 
    'SOSTENIMIENTO', 'ALUMNOS PROGRAMADOS', 'ALUMNOS EVALUADOS',
    'ALUMNOS EVALUADOS LENGUAJE Y COMUNICACIÓN',
    'ALUMNOS EVALUADOS MATEMÁTICAS', 
    '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I', '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL II', 
    '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL III', '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL IV', 
    '% ALUMNOS EN MATEMÁTICAS NIVEL I', '% ALUMNOS EN MATEMÁTICAS NIVEL II', 
    '% ALUMNOS EN MATEMÁTICAS NIVEL III', '% ALUMNOS EN MATEMÁTICAS NIVEL IV'
], axis=1)
# datos2016 = datos2016.reindex([
#     'CLAVE DE LA ENTIDAD', 'ENTIDAD', 'CLAVE DE LA ESCUELA', 'NOMBRE DE LA ESCUELA', 
#     'TURNO', 'EXTENSIÓN', 'NOMBRE DEL MUNICIPIO', 'NOMBRE DE LA LOCALIDAD', 
#     'SUBSISTEMA', 'GRADO DE MARGINACIÓN DE LA LOCALIDAD DONDE SE UBICA EL CCT', 
#     'SOSTENIMIENTO', 'ALUMNOS PROGRAMADOS', 'ALUMNOS EVALUADOS','ALUMNOS QUE CONTESTARON TODAS LAS SESIONES DEL EXAMEN LENGUAJE Y COMUNICACIÓN',
#     'ALUMNOS QUE CONTESTARON TODAS LAS SESIONES DEL EXAMEN MATEMÁTICAS',
#     '% DE ALUMNOS LENGUAJE Y COMUNICACIÓN NIVEL I', '% DE ALUMNOS LENGUAJE Y COMUNICACIÓN NIVEL II', 
#     '% DE ALUMNOS LENGUAJE Y COMUNICACIÓN NIVEL III', '% DE ALUMNOS LENGUAJE Y COMUNICACIÓN NIVEL IV', 
#     '% DE ALUMNOS MATEMÁTICAS NIVEL I', '% DE ALUMNOS MATEMÁTICAS NIVEL II', 
#     '% DE ALUMNOS MATEMÁTICAS NIVEL III', '% DE ALUMNOS MATEMÁTICAS NIVEL IV'
# ], axis=1)
datos2016.to_excel('./datosModificados/datos2016.xlsx', index=False)

In [8]:
# Eliminar filas con almenos 7 valores nulos
datos2016 = datos2016.dropna(thresh=7)
datos2016.to_excel('./datosModificados/datos2016.xlsx', index=False)

In [9]:
#Reemplazar los valores nulos de la columna 'EXTENSIÓN' por 'EXTENSIÓN 0'
datos2016['EXTENSIÓN'].fillna('EXTENSIÓN 0', inplace=True)

# Imprimir los valores de la columna 'EXTENSIÓN' para verificar los valores únicos
unique_values = datos2016['EXTENSIÓN'].unique()
print(unique_values)

['EXTENSIÓN 0' 'EXTENSIÓN 3' 'EXTENSIÓN 2' 'EXTENSIÓN 1' 'EXTENSIÓN'
 'EXTENSIÓN 6' 'EXTENSIÓN 5' 'EXTENSIÓN 7' 'EXTENSIÓN 8' 'EXTENSIÓN 4'
 'EXTENSIÓN 11' 'EXTENSIÓN 10' 'EXTENSIÓN 22' 'EXTENSIÓN 26'
 'EXTENSIÓN 19' 'EXTENSIÓN 21' 'EXTENSIÓN 14' 'EXTENSIÓN 9' 'EXTENSIÓN 25'
 'EXTENSIÓN 17' 'CONTEPEC' 'TEPUXTEPEC' 'APEO' 'MESETA' 'EXTENSIÓN2'
 'EXTENSIÓN1']

C:\Users\hiper\AppData\Local\Temp\ipykernel_17072\457214805.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  datos2016['EXTENSIÓN'].fillna('EXTENSIÓN 0', inplace=True)

In [10]:
# Eliminar '*****' y sustituir por 0.0 en todas las columnas
datos2016 = datos2016.replace('*****', 0.0)
datos2016.to_excel('./datosModificados/datos2016.xlsx', index=False)

In [11]:
# Obtener las claves de las escuela que tienen nombre de escuela nulo
datos2016['CLAVE DE LA ESCUELA'] = datos2016['CLAVE DE LA ESCUELA'].astype(str)
nulos = datos2016[datos2016['NOMBRE DE LA ESCUELA'].isnull()]['CLAVE DE LA ESCUELA'].unique()
print(nulos)

# Asignar nombres de escuela a los nombres nulos de las claves encontradas
# '15ETK0003O' -> 'TELEBACHILLERATO COMUNITARIO NUM. 03 CALLE REAL TEMOAYA'
datos2016.loc[datos2016['CLAVE DE LA ESCUELA'] == '15ETK0003O', 'NOMBRE DE LA ESCUELA'] = 'TELEBACHILLERATO COMUNITARIO NUM. 03 CALLE REAL TEMOAYA'
# '15ETK0004N' -> 'TELEBACHILLERATO COMUNITARIO NUM. 04 BODO JIQUIPILCO'
datos2016.loc[datos2016['CLAVE DE LA ESCUELA'] == '15ETK0004N', 'NOMBRE DE LA ESCUELA'] = 'TELEBACHILLERATO COMUNITARIO NUM. 04 BODO JIQUIPILCO'
# '15ETK0007K' -> 'TELEBACHILLERATO COMUNITARIO NUM. 07 TIACAQUE JOCOTITLAN'
datos2016.loc[datos2016['CLAVE DE LA ESCUELA'] == '15ETK0007K', 'NOMBRE DE LA ESCUELA'] = 'TELEBACHILLERATO COMUNITARIO NUM. 07 TIACAQUE JOCOTITLAN'
# '15ETK0008J' -> 'TELEBACHILLERATO COMUNITARIO NUM. 08 HUEREJE IXTLAHUCA'
datos2016.loc[datos2016['CLAVE DE LA ESCUELA'] == '15ETK0008J', 'NOMBRE DE LA ESCUELA'] = 'TELEBACHILLERATO COMUNITARIO NUM. 08 HUEREJE IXTLAHUCA'
# '15ETK0009I' -> 'TELEBACHILLERATO COMUNITARIO NUM. 09 CUENDO ATLACOMULCO'
datos2016.loc[datos2016['CLAVE DE LA ESCUELA'] == '15ETK0009I', 'NOMBRE DE LA ESCUELA'] = 'TELEBACHILLERATO COMUNITARIO NUM. 09 CUENDO ATLACOMULCO'
# '15ETK0010Y' -> 'TELEBACHILLERATO COMUNITARIO NUM. 10 SAN FRANCISCO CHALCHIHUAPAN ATLACOMULCO'
datos2016.loc[datos2016['CLAVE DE LA ESCUELA'] == '15ETK0010Y', 'NOMBRE DE LA ESCUELA'] = 'TELEBACHILLERATO COMUNITARIO NUM. 10 SAN FRANCISCO CHALCHIHUAPAN ATLACOMULCO'
# '20DCT0013Z' -> 'CENTRO DE BACHILLERATO TECNOLÓGICO INDUSTRIAL Y DE SERVICIOS NUM. 205'
datos2016.loc[datos2016['CLAVE DE LA ESCUELA'] == '20DCT0013Z', 'NOMBRE DE LA ESCUELA'] = 'CENTRO DE BACHILLERATO TECNOLÓGICO INDUSTRIAL Y DE SERVICIOS NUM. 205'

datos2016.to_excel('./datosModificados/datos2016.xlsx', index=False)

['15ETK0003O' '15ETK0004N' '15ETK0007K' '15ETK0008J' '15ETK0009I'
 '15ETK0010Y' '20DCT0013Z']

In [12]:
# Obtener las claves de las escuela que tienen nombre de escuela nulo
datos2016['CLAVE DE LA ESCUELA'] = datos2016['CLAVE DE LA ESCUELA'].astype(str)
nulos = datos2016[datos2016['NOMBRE DE LA ESCUELA'].isnull()]['CLAVE DE LA ESCUELA'].unique()
print(nulos)

[]

In [13]:
# Agregar la columna 'CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I', utilizando la columna 'ALUMNOS QUE CONTESTARON TODAS LAS SESIONES DEL EXAMEN LENGUAJE Y COMUNICACIÓN' y la columna '% DE ALUMNOS LENGUAJE Y COMUNICACIÓN NIVEL I'
datos2016['CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I'] =((datos2016['ALUMNOS EVALUADOS LENGUAJE Y COMUNICACIÓN'] * datos2016['% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I']) / 100).astype(int)
datos2016['CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL II'] = ((datos2016['ALUMNOS EVALUADOS LENGUAJE Y COMUNICACIÓN'] * datos2016['% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL II']) / 100).astype(int)
datos2016['CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL III'] = ((datos2016['ALUMNOS EVALUADOS LENGUAJE Y COMUNICACIÓN'] * datos2016['% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL III']) / 100).astype(int)
datos2016['CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL IV'] = ((datos2016['ALUMNOS EVALUADOS LENGUAJE Y COMUNICACIÓN'] * datos2016['% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL IV']) / 100).astype(int)

# Agregar la columna 'CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL I', utilizando la columna 'ALUMNOS QUE CONTESTARON TODAS LAS SESIONES DEL EXAMEN MATEMÁTICAS' y la columna '% ALUMNOS MATEMÁTICAS NIVEL I'
datos2016['CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL I'] = ((datos2016['ALUMNOS EVALUADOS MATEMÁTICAS'] * datos2016['% ALUMNOS EN MATEMÁTICAS NIVEL I']) / 100).astype(int)
datos2016['CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL II'] = ((datos2016['ALUMNOS EVALUADOS MATEMÁTICAS'] * datos2016['% ALUMNOS EN MATEMÁTICAS NIVEL II']) / 100).astype(int)
datos2016['CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL III'] = ((datos2016['ALUMNOS EVALUADOS MATEMÁTICAS'] * datos2016['% ALUMNOS EN MATEMÁTICAS NIVEL III']) / 100).astype(int)
datos2016['CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL IV'] = ((datos2016['ALUMNOS EVALUADOS MATEMÁTICAS'] * datos2016['% ALUMNOS EN MATEMÁTICAS NIVEL IV']) / 100).astype(int)

datos2016.to_excel('./datosModificados/datos2016.xlsx', index=False)

In [14]:
# Agregar columna 'ALUMNOS EVALUADOS' 
#datos2016['ALUMNOS EVALUADOS'] = datos2016['ALUMNOS QUE CONTESTARON TODAS LAS SESIONES DEL EXAMEN LENGUAJE Y COMUNICACIÓN'] + datos2016['ALUMNOS QUE CONTESTARON TODAS LAS SESIONES DEL EXAMEN MATEMÁTICAS']

In [15]:
# Imprimir el nombre de las columnas que tienen valores nulos
print("Columnas con valores nulos:")
for col in datos2016.columns:
    if datos2016[col].isnull().any():
        print(col)

# Imprimir el nombre de las columnas con NaN
print("\nColumnas con NaN:")
for col in datos2016.columns:
    if datos2016[col].isnull().any():
        print(col)

# Imprimir el numero de la fila donde hay valores nulos
print("\nFilas con valores nulos:")
for index, row in datos2016.iterrows():
    if row.isnull().any():
        print(f"Fila {index}: {row[row.isnull()].index.tolist()}")

# Imprimir el numero de la fila donde hay NaN
print("\nFilas con NaN:")
for index, row in datos2016.iterrows():
    if row.isnull().any():
        print(f"Fila {index}: {row[row.isnull()].index.tolist()}")

Columnas con valores nulos:

Columnas con NaN:

Filas con valores nulos:

Filas con NaN:

In [16]:
#Acomodar con el metodo reindex
datos2016 = datos2016.reindex([
    'CLAVE DE LA ENTIDAD', 'ENTIDAD', 'CLAVE DE LA ESCUELA', 'NOMBRE DE LA ESCUELA', 
    'TURNO', 'EXTENSIÓN', 'NOMBRE DEL MUNICIPIO', 'NOMBRE DE LA LOCALIDAD', 
    'SUBSISTEMA', 'GRADO DE MARGINACIÓN DE LA LOCALIDAD DONDE SE UBICA EL CCT', 
    'SOSTENIMIENTO', 'ALUMNOS PROGRAMADOS', 'ALUMNOS EVALUADOS',
    '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I', '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL II', 
    '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL III', '% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL IV', 
    '% ALUMNOS EN MATEMÁTICAS NIVEL I', '% ALUMNOS EN MATEMÁTICAS NIVEL II', 
    '% ALUMNOS EN MATEMÁTICAS NIVEL III', '% ALUMNOS EN MATEMÁTICAS NIVEL IV',
    'CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I',
    'CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL II','CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL III',
    'CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL IV',
    'CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL I','CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL II',
    'CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL III',
    'CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL IV'
], axis=1)
datos2016.to_excel('./datosModificados/datos2016.xlsx', index=False)

In [17]:
datos2016.dtypes

CLAVE DE LA ENTIDAD                                           float64
ENTIDAD                                                        object
CLAVE DE LA ESCUELA                                            object
NOMBRE DE LA ESCUELA                                           object
TURNO                                                          object
EXTENSIÓN                                                      object
NOMBRE DEL MUNICIPIO                                           object
NOMBRE DE LA LOCALIDAD                                         object
SUBSISTEMA                                                     object
GRADO DE MARGINACIÓN DE LA LOCALIDAD DONDE SE UBICA EL CCT     object
SOSTENIMIENTO                                                  object
ALUMNOS PROGRAMADOS                                             int64
ALUMNOS EVALUADOS                                              object
% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I                  float64
% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL II                 float64
% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL III                float64
% ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL IV                 float64
% ALUMNOS EN MATEMÁTICAS NIVEL I                              float64
% ALUMNOS EN MATEMÁTICAS NIVEL II                             float64
% ALUMNOS EN MATEMÁTICAS NIVEL III                            float64
% ALUMNOS EN MATEMÁTICAS NIVEL IV                             float64
CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL I             int64
CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL II            int64
CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL III           int64
CANTIDAD ALUMNOS EN LENGUAJE Y COMUNICACIÓN NIVEL IV            int64
CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL I                         int64
CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL II                        int64
CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL III                       int64
CANTIDAD ALUMNOS EN MATEMÁTICAS NIVEL IV                        int64
dtype: object

In [18]:
import pandas as pd
# Leer el archivo Excel modificado
datos2016 = pd.read_excel('./datosModificados/datos2016.xlsx')
# Añadir la columna 'AÑO' con el valor 2016
datos2016['AÑO'] = 2016
datos2016.to_excel('./datosModificados/datos2016.xlsx', index=False)